<div *ngIf="isOwnMessage">
  <div class="messageContainer isOwnMessageContainer">
    <div class="messageData isOwnMessageData">
      <span class="sender isOwnSender">
        {{ username }}
      </span>
      <span class="timestamp isOwnTimestamp">
        {{ time }}
      </span>
    </div>
    <div class="messageContent isOwnMessageContent">
      {{ msgContent }}
    </div>
  </div>
</div>

<div *ngIf="!isOwnMessage" class="notOwnMessage">
  <div class="messageContainer">
    <div class="messageData">
      <span class="sender">
        {{ username }}
      </span>
      <span class="timestamp">
        {{ time }}
      </span>
    </div>
    <div class="messageContent">
      {{ msgContent }}
    </div>
  </div>
</div>