#chat-engine {
  display: flex;
  flex: 1;
}

#chat-engine > article {
  flex: 1;
  background: #606c88; /* Old browsers */
  background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #606c88 0%, #3f4c6b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #606c88 0%,
    #3f4c6b 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
}
#chat-engine > nav {
  background-color: rgba(52, 58, 64, 0.8);
  flex: 0 0 20vw;
  order: -1;
  border-right: 1px solid #ffffff;
  overflow: auto;
}

// .chat-engine {
//   height: 100vh;
//   overflow: auto;
// }

// .chat-form {
//   position: fixed;
//   bottom: 0;
// }

// .user-list {
//   background-color: rgba(52, 58, 64, 0.8);
// }
