.userList {
  width: 100%;
}

.usersLabel {
    display: flex;
    justify-content: center;
    padding: 15px;
    color: #fff;
    font-family: "century_gothic_bold", Verdana, Tahoma !important;
    font-size: 15px;
}