/* You can add global styles to this file, and also import other style files */

@import "./assets/icon-line/css/simple-line-icons.css";
@import "./assets/line-icon-pro/style.css";
@import "./assets/fonts/fonts.scss";

* {
  box-sizing: border-box; 
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "century_gothic", Verdana, Tahoma !important;
    overflow: hidden;
}

*:focus, *:active {
    outline: none !important;
    box-shadow: none !important;
 }