nav {
  width: 100%;
}

.logo {
  color: rgba(255, 87, 51, 0.7) !important;
  font-family: "century_gothic_bold", Verdana, Tahoma !important;
}

#userEmail {
    font-size: 12px;
    color:#fff;
    font-family: "century_gothic", Verdana, Tahoma !important;
}

#logout {
    padding-left:10px;
    font-size: 12px;
    color:#fff;
    font-family: "century_gothic", Verdana, Tahoma !important;
}